In [1]:
import statistics as stat

In [2]:
print("Hello world")

Hello world

In [3]:
a=1
b=2
c=3
print(a-b)
print(b-c)
print(a-c)

-1
-1
-2

In [4]:
a=input("enter name")
print(a)

abhijeet

In [5]:
a=2
b=3
print(a*b)

6

In [6]:
a=20
b=15
print(a//b)
print(a/b)
print(a%b)

1
1.3333333333333333
5

In [7]:
a=3
print(a**2)

9

In [8]:
a=4
print(a**0.5)

2.0

In [9]:
name='abhijeet'
len(name)
print(type(name))

<class 'str'>

In [10]:
print(name.capitalize())
print(name.upper())
print(name.find('e'))
print(name[0:3])

Abhijeet
ABHIJEET
5
abh

In [11]:
list1=[12,12,3,45,6,8,9,90]
print(list1)
list1.sort()
list1[3]=20
print(list1*2)
print(list1)
print(type(list1))

[12, 12, 3, 45, 6, 8, 9, 90]
[3, 6, 8, 20, 12, 12, 45, 90, 3, 6, 8, 20, 12, 12, 45, 90]
[3, 6, 8, 20, 12, 12, 45, 90]
<class 'list'>

In [12]:
tuples1=(1,2,45,2,1)
print(tuples1)
x=list(tuples1)
print(x)
print(range(10))

(1, 2, 45, 2, 1)
[1, 2, 45, 2, 1]
range(0, 10)

In [13]:
list2=[x for x in range(0,100,5)]
print(list2)
tuple2=tuple(list2)
print(tuple2)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
(0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95)

In [14]:
sets={1,2,3,2}
print(sets)
sets.add(5)
print(sets)

{1, 2, 3}
{1, 2, 3, 5}

DIctionary

In [15]:
dict1={"name":"Abhijeet jadhav",
       "age":"19"}
print(dict1)
dict2=dict(name="abhi",age=[20,30])
print(dict2)
print(dict1.keys())
print(dict2.items())
print(dict1.values())
print(dict1.get('name'))

{'name': 'Abhijeet jadhav', 'age': '19'}
{'name': 'abhi', 'age': [20, 30]}
dict_keys(['name', 'age'])
dict_items([('name', 'abhi'), ('age', [20, 30])])
dict_values(['Abhijeet jadhav', '19'])
Abhijeet jadhav

In [16]:
a =10
if a>20 or a>5:
    print("hello")
else:
    print("world")

hello

In [17]:
list1=[x for x in range(0,int(input("number")))]
list2=[x for x in range(0,11,2)]
print(list1,list2)
for x in range(10):
    if list2[x]!=list1[x]:
        print("error")
        break

[0, 1] [0, 2, 4, 6, 8, 10]
error

In [18]:
for x in range(0,10):
    print(x)
list2=[x for x in range(0,11,2)]
stat.stdev(list2)

0
1
2
3
4
5
6
7
8
9

3.7416573867739413

In [19]:
str1='abhijeet'
print(str1[2:])

hijeet

In [23]:
str2=input("enter name")
print(str2)
print(len(str2))
print(str2.upper())
print(str2.lower())
print(str2[:4])
print(str2[:-1])
print(str2.replace('a','b'))
print(str2.split(','))
print(str2.strip())
str2.startswith('ab')

aa
2
AA
aa
aa
a
bb
['aa']
aa

False

In [24]:
def addition(a,b):
    return a+b

In [25]:
addition(3,5)

8

In [26]:
list1=[x for x in range(0,101,2)]
for x in list1:
    print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [27]:
string=input("enter names with comma")
string=list(string.split(','))
print(string)
for x in string:
    print(x)

['abhije']
abhije

In [28]:
def rev(str):
    return str[::-1]

In [29]:
rev("abhijeet")

'teejihba'

In [30]:
name=input("enter name")
surname=input("enter surname")
print("name is {} and surname is {}".format(name,surname))

name is a and surname is a

In [31]:
x =int(input("enter number"))
y=0
if x<=5.5:
    y=0
else:
    y=1
print(y)

0

In [32]:
list1=[x for x in range(15)]
list2=[]
for x in list1:
    y=0
    if x<=5.5:
        y=0
    else:
        y=1
    list2.append(y)
print('x y')
for x,y in zip(list1,list2):
    print(x,y)

x y
0 0
1 0
2 0
3 0
4 0
5 0
6 1
7 1
8 1
9 1
10 1
11 1
12 1
13 1
14 1

In [33]:
x =open('test.txt','r')
for y in x:
    print(y)

ewgweugfis

In [34]:
def calculator(a,b,c):
    if b=='+':
        return a+c
    elif b=='-':
        return a-c
    elif b=='*':
        return a*c
    elif b=='/':
        return a/c

In [35]:
a,c=int(input("enter number1")),int(input("enter number2"))
b=input("enter operation")
if calculator(a,b,c)==10:
    print("correct")
else:
    print('wrong')

wrong

In [36]:
list1=[1,2,4,5,7,4,6,2,1]
list2=[4,2,5,9,32,5,1,5,8]
list3=[]
for x in range(len(list1)):
    if list1[x]>list2[x]:
        list3.append(list1[x])
    else:
        list3.append(list2[x])
print(list3)

[4, 2, 5, 9, 32, 5, 6, 5, 8]

In [37]:
def name():
    print('hi')

In [38]:
name()

hi

In [39]:
def argument(*x):
    print(x)
argument(10,20,30)

(10, 20, 30)

In [40]:
def test(x):
    return x+2,x-2
print(test(2))

(4, 0)

In [41]:
set1={1,2,3,1,2}
set2={3,4,5,1,2}
set3={1,2}
print(set1)
print(set2)
set1=set1.union(set2)
print(set1)
set3=set3.intersection(set1)
print(set3)
set3.add(3)
print(set3)
set1.remove(1)     #error raise if not preset
set1.discard(10)  #no error upadation
print(set1)
list1=[1,2,3,4,5,6,2,3,2,2,2,2]
set4=set(list1)
print(set4)
list1=list(set4)
print(list1)

{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2}
{1, 2, 3}
{2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

In [42]:
import random

computer=random.randint(1,9)

userinput=int(input(" Enter the number between 1 and 9"))
print (computer)

print(userinput)

if computer>userinput:
    print("Computer Won")

elif computer==userinput:
    print("TIE")

else:
    print("You won")

7
4
Computer Won

In [ ]:
import random

gamelist=['rock','paper','scissors']
while(1):
    comp=random. choice(gamelist)
    user=input("Enter either rock or paper or scissors ")
    print(user)
    print (comp)
    if (comp=='rock'and user=='paper') or (comp=='paper' and user=='scissors') or (comp=='scissors' and user=='rock'):
        print('I won')
    elif (comp==user):
        print("tie")
    else:
        print("he won")

spga requiremnet per sem for the target

In [45]:
cgpa=[8.22]
print(stat.mean(cgpa))
target=8.7
no_sem=2
req=target*(len(cgpa)+no_sem)-stat.fsum(cgpa)
print(req/no_sem)

8.22
8.939999999999998

In [6]:
list1=[1,2,4,2,1,3,4,4,4,4,4]
print(list1.count(int(input("enter number u want to count"))))

2

In [16]:
list1=[1,2,3,4,5]
print(list1.index(2))
print(len(list1))
print(id(list1))

1
5
1740186422912

In [26]:
def duplicates(list1):
    for x in list1:
        if list1.count(x)!=1:
            return True
    return False

In [30]:
list1=[1,2,3,4,5]
duplicates(list1)

False