In [63]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [64]:
path = "data/brooklyn_listings.csv"
data = pd.read_csv(path)
data

,Unnamed: 0,price,bedrooms,bathrooms,sqft,neighborhood,status,address
0,1,4100000.0,4,5,2940.0,Park Slope,sold,"336A 4th St, Brooklyn, NY 11215"
1,2,1020000.0,3,1,NaN,Park Slope,sold,"411 15th St #K, Brooklyn, NY 11215"
2,3,45000.0,0,1,NaN,Park Slope,sold,"65 Saint Johns Pl #D, Brooklyn, NY 11217"
3,4,45000.0,0,1,NaN,Park Slope,sold,"65 Saint Johns Pl #E, Brooklyn, NY 11217"
4,5,908000.0,0,1,1066.0,Park Slope,sold,"397 1st St #4R, Brooklyn, NY 11215"
...,...,...,...,...,...,...,...,...
14728,14620,630000.0,0,1,1492.0,Wingate,listed,"770A Lefferts Ave #4L, Brooklyn, NY 11203"
14729,14720,998000.0,4,2,1584.0,Wingate,listed,"575 E New York Ave #A, Brooklyn, NY 11225"
14730,14820,830000.0,0,1,564.0,Wingate,listed,"833 Maple St, Brooklyn, NY 11203"
14731,14920,240000.0,0,1,NaN,Wingate,listed,"446 Kingston Ave #C20, Brooklyn, NY 11225"
14732,15020,629000.0,3,2,1470.0,Wingate,listed,"163 E 46th St, Brooklyn, NY 11203"

In [65]:
data.info()
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14733 entries, 0 to 14732
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    14733 non-null  int64
 1   price         14732 non-null  float64
 2   bedrooms      14733 non-null  int64
 3   bathrooms     14733 non-null  int64
 4   sqft          12013 non-null  float64
 5   neighborhood  14733 non-null  object
 6   status        14733 non-null  object
 7   address       14733 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 920.9+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 12012 entries, 0 to 14732
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    12012 non-null  int64
 1   price         12012 non-null  float64
 2   bedrooms      12012 non-null  int64
 3   bathrooms     12012 non-null  int64
 4   sqft          12012 non-null  float64
 5   neighborhood  12012 non-null  object
 6   status        12012 non-null  object
 7   address       12012 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 844.6+ KB

In [66]:
x_data = data[['bedrooms','sqft']].to_numpy().reshape(-1,2)
y_data = data['price'].to_numpy()
print(x_data.shape)
print(y_data.shape)

(12012, 2)
(12012,)

In [67]:
poly = PolynomialFeatures(degree=5)
x_data = poly.fit_transform(x_data)

In [68]:
model = LinearRegression()
model.fit(x_data,y_data)

LinearRegression()

In [69]:
predict = model.predict(x_data)
print(predict)

[1299488.14847053 1298268.99248331 1300786.01575489 ... 1298446.47451498
 1298240.35777455 1298379.56557542]

In [70]:
final_data=pd.DataFrame({'actual':y_data,'predicted':predict,'difference':predict-y_data})
print(final_data)

          actual     predicted    difference
0      4100000.0  1.299488e+06 -2.800512e+06
1       908000.0  1.298269e+06  3.902690e+05
2      2600000.0  1.300786e+06 -1.299214e+06
3      4050000.0  1.300491e+06 -2.749509e+06
4      2400000.0  1.298368e+06 -1.101632e+06
...          ...           ...           ...
12007   765000.0  1.298261e+06  5.332612e+05
12008   630000.0  1.298327e+06  6.683272e+05
12009   998000.0  1.298446e+06  3.004465e+05
12010   830000.0  1.298240e+06  4.682404e+05
12011   629000.0  1.298380e+06  6.693796e+05

[12012 rows x 3 columns]

In [71]:
model.score(x_data,y_data)

0.015927360268270463