Predicting prices

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [2]:
path="data/brooklyn_listings.csv"
df=pd.read_csv(path)
df=df.dropna()
df.head()
#print(df.to_string())

,Unnamed: 0,price,bedrooms,bathrooms,sqft,neighborhood,status,address
0,1,4100000.0,4,5,2940.0,Park Slope,sold,"336A 4th St, Brooklyn, NY 11215"
4,5,908000.0,0,1,1066.0,Park Slope,sold,"397 1st St #4R, Brooklyn, NY 11215"
6,7,2600000.0,5,4,3600.0,Park Slope,sold,"645 Carroll St, Brooklyn, NY 11215"
7,8,4050000.0,4,4,3600.0,Park Slope,sold,"538 9th St #4, Brooklyn, NY 11215"
8,9,2400000.0,3,3,1428.0,Park Slope,sold,"910 Union St #7A, Brooklyn, NY 11215"

In [14]:
x_data=np.array([df['bedrooms'],df['sqft']]).reshape(-1,2)
print(x_data)
y_data=df['price']
print(y_data)

[[4.000e+00 0.000e+00]
 [5.000e+00 4.000e+00]
 [3.000e+00 1.000e+00]
 ...
 [1.620e+03 8.670e+02]
 [1.492e+03 1.584e+03]
 [5.640e+02 1.470e+03]]
0        4100000.0
4         908000.0
6        2600000.0
7        4050000.0
8        2400000.0
           ...
14727     765000.0
14728     630000.0
14729     998000.0
14730     830000.0
14732     629000.0
Name: price, Length: 12012, dtype: float64

In [16]:
poly=PolynomialFeatures(degree=3)
x=poly.fit_transform(x_data)
lr=LinearRegression()
lr.fit(x,y_data)
y_pred=lr.predict(x)
print(y_pred)
lr.coef_
# mean_squared_error(y_data,y_pred,squared=False)

[1469415.5496914  1468876.4345809  1469436.17746406 ... 1220841.4595399
 1188204.16584634 1271454.73293579]

array([ 0.00000000e+00, -1.24383553e+02, -1.03824596e+02,  1.81182402e-03,
        2.69092331e-02,  7.73051397e-04, -5.86816937e-09, -2.34549213e-07,
       -1.03528334e-07, -1.15409160e-09])

In [ ]:
ax=plt.axes(projection="3d")
ax.scatter(x_data['bedrooms'],x_data['sqft'],y_data)

In [ ]:
# number_degrees = [1,2,3,4,5,6,7]
# plt_mean_squared_error = []
# for degree in number_degrees:

#    poly_model = PolynomialFeatures(degree=degree)
  
#    x= poly_model.fit_transform(x_data)
#    poly_model.fit(x, y_data)
  
#    lr = LinearRegression()
#    lr.fit(x, y_data)
#    y_pred = lr.predict(x)
  
#    plt_mean_squared_error.append(mean_squared_error(y_data, y_pred, squared=False))
  
# plt.scatter(number_degrees,plt_mean_squared_error, color="green")
# plt.plot(number_degrees,plt_mean_squared_error, color="red")

In [ ]:
plt.scatter(y_pred,y_data)

In [ ]:
i=pd.DataFrame({'pred':y_pred})
print(i)

In [17]:
v=pd.DataFrame({'actual':y_data,'predicted':y_pred,'difference':y_pred-y_data})
print(v)

          actual     predicted    difference
0      4100000.0  1.469416e+06 -2.630584e+06
4       908000.0  1.468876e+06  5.608764e+05
6      2600000.0  1.469436e+06 -1.130564e+06
7      4050000.0  1.468980e+06 -2.581020e+06
8      2400000.0  1.469498e+06 -9.305022e+05
...          ...           ...           ...
14727   765000.0  1.191137e+06  4.261365e+05
14728   630000.0  1.163992e+06  5.339921e+05
14729   998000.0  1.220841e+06  2.228415e+05
14730   830000.0  1.188204e+06  3.582042e+05
14732   629000.0  1.271455e+06  6.424547e+05

[12012 rows x 3 columns]