Predicting prices

In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [16]:
path="data/brooklyn_listings.csv"
df=pd.read_csv(path)
df=df.dropna()
df.head()
#print(df.to_string())

,Unnamed: 0,price,bedrooms,bathrooms,sqft,neighborhood,status,address
0,1,4100000.0,4,5,2940.0,Park Slope,sold,"336A 4th St, Brooklyn, NY 11215"
4,5,908000.0,0,1,1066.0,Park Slope,sold,"397 1st St #4R, Brooklyn, NY 11215"
6,7,2600000.0,5,4,3600.0,Park Slope,sold,"645 Carroll St, Brooklyn, NY 11215"
7,8,4050000.0,4,4,3600.0,Park Slope,sold,"538 9th St #4, Brooklyn, NY 11215"
8,9,2400000.0,3,3,1428.0,Park Slope,sold,"910 Union St #7A, Brooklyn, NY 11215"

In [17]:
x_data=df[['bedrooms','sqft']]
print(x_data)
y_data=df['price']
print(y_data)

       bedrooms    sqft
0             4  2940.0
4             0  1066.0
6             5  3600.0
7             4  3600.0
8             3  1428.0
...         ...     ...
14727         2   867.0
14728         0  1492.0
14729         4  1584.0
14730         0   564.0
14732         3  1470.0

[12012 rows x 2 columns]
0        4100000.0
4         908000.0
6        2600000.0
7        4050000.0
8        2400000.0
           ...
14727     765000.0
14728     630000.0
14729     998000.0
14730     830000.0
14732     629000.0
Name: price, Length: 12012, dtype: float64

In [19]:
poly=PolynomialFeatures(degree=3)
x=poly.fit_transform(x_data)
lr=LinearRegression()
lr.fit(x,y_data)
y_pred=lr.predict(x)
print(y_pred)
lr.coef_
# mean_squared_error(y_data,y_pred,squared=False)

[[1.00000000e+00 4.00000000e+00 2.94000000e+03 ... 4.70400000e+04
  3.45744000e+07 2.54121840e+10]
 [1.00000000e+00 0.00000000e+00 1.06600000e+03 ... 0.00000000e+00
  0.00000000e+00 1.21135550e+09]
 [1.00000000e+00 5.00000000e+00 3.60000000e+03 ... 9.00000000e+04
  6.48000000e+07 4.66560000e+10]
 ...
 [1.00000000e+00 4.00000000e+00 1.58400000e+03 ... 2.53440000e+04
  1.00362240e+07 3.97434470e+09]
 [1.00000000e+00 0.00000000e+00 5.64000000e+02 ... 0.00000000e+00
  0.00000000e+00 1.79406144e+08]
 [1.00000000e+00 3.00000000e+00 1.47000000e+03 ... 1.32300000e+04
  6.48270000e+06 3.17652300e+09]]
[1786008.28245899  793177.95766843 2095452.2370135  ... 1260894.18431043
  635101.38583049 1176275.61738971]

array([ 0.00000000e+00,  8.99311738e+04,  3.20238588e+02, -1.23038212e+04,
        2.22097670e+01, -3.28650367e-03,  2.01576310e+02, -3.79347808e-01,
       -5.41454071e-05,  5.82882769e-09])

In [ ]:
ax=plt.axes(projection="3d")
ax.scatter(x_data['bedrooms'],x_data['sqft'],y_data)

In [ ]:
number_degrees = [1,2,3,4,5,6,7]
plt_mean_squared_error = []
for degree in number_degrees:

   poly_model = PolynomialFeatures(degree=degree)
  
   x= poly_model.fit_transform(x_data)
   poly_model.fit(x, y_data)
  
   lr = LinearRegression()
   lr.fit(x, y_data)
   y_pred = lr.predict(x)
  
   plt_mean_squared_error.append(mean_squared_error(y_data, y_pred, squared=False))
  
plt.scatter(number_degrees,plt_mean_squared_error, color="green")
plt.plot(number_degrees,plt_mean_squared_error, color="red")

In [ ]:
plt.scatter(y_pred,y_data)

In [ ]:
i=pd.DataFrame({'pred':y_pred})
print(i)

In [ ]:
v=pd.DataFrame({'actual':y_data,'predicted':y_pred,'difference':y_pred-y_data})
print(v)